#myMap {
    color: black;
    overflow: hidden;
  }
  #myMap > .myMap-search {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 280px;
    border-radius: 5px;
    z-index: 999;
  }
  #myMap > .myMap-search > .boxCard{
    position: relative;
    top: 12px;
  }
  #myMap > .myMap-search > .boxCard::before{
    display: block;
    content:'';
    position: absolute;
    top: -11px;
    left: 20px;
    width: 0px;
    height: 0px;
    border-bottom: 12px solid #e4e6ec;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
  }
  #myMap > .myMap-search > .boxCard::after{
    display: block;
    content:'';
    width: 0px;
    height: 0px;
    position: absolute;
    top: -10px;
    left: 21px;
    border-bottom: 11px solid #ffffff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
  #myMap .el-card__body {
    padding: 10px 0;
  }
  #myMap > .myMap-search > .boxCard > .boxCard-content .content-item {
    height: 55px;
    padding-left: 20px;
    padding-top: 6px;
    border-bottom: #f6f7fb 1px solid;
    cursor: pointer;
  }
  #myMap > .myMap-search > .boxCard > .boxCard-content .boxCard-content-footer {
    text-align: center;
  }
  #myMap > .myMap-search > .boxCard > .boxCard-content .content-item:hover {
    background: #f6f7fb;
  }
  #myMap > .myMap-search > .boxCard > .boxCard-content .content-item:last-child {
    border-bottom: none;
  }
  #myMap .el-vue-search-box-container .search-box-wrapper .search-btn {
    background: #f6f7fb;
  }
  #myMap
    > .myMap-search
    > .boxCard
    > .boxCard-content
    .content-item
    > .item-name {
    font-size: 14px;
    color: #6f91ac;
  }
  #myMap
    > .myMap-search
    > .boxCard
    > .boxCard-content
    .content-item
    > .item-value-group {
    width: 100%;
    padding: 3px 0;
    overflow: hidden;
  }
  #myMap
    > .myMap-search
    > .boxCard
    > .boxCard-content
    .content-item
    > .item-value-group
    > .group-item {
    height: 35px;
    width: 50%;
    float: left;
    line-height: 24px;
    color: #a1a2a2;
  }
  #myMap .el-input-group {
    width: 100%;
  }
  #myMap .sludgeDialog .el-dialog__body {
    text-align: center;
  }
  #myMap .sludgeDialog .el-dialog__body > .iconfont {
    width: 100%;
    font-size: 80px;
    display: inline-block;
    height: 80px;
    line-height: 70px;
  }

#myMap .notice{
  position: absolute;
  width: 26px;
  height: 26px;
  left: 24px;
  top:-13px;
  background: url(../../assets/image/sy_marker_notice.png) no-repeat;
  background-size: contain;
}