#villageInfo {
    width: 100%;
    height: calc(100% - 80px);
    padding: 20px;
    color: black;
  }
  #villageInfo > .content {
    background: #ffffff;
    height: calc(100% - 60px);
  }
  #villageInfo >.content > .content-title {
    height: 35px;
    border-bottom: 1px solid #dedde2;
  }
  #villageInfo .content-title > .title-text {
    height: 35px;
    width: 115px;
    display: block;
    padding: 0 20px;
    line-height: 35px;
    font-size: 17px;
    font-weight: 500;
    color: #1e8dbb;
    border-bottom: 2px solid #1e8dbb;
  }
  #villageInfo .content >form{
    margin-top: 20px;
  }
  #villageInfo .el-input__prefix,
  #villageInfo .el-input__suffix {
    color: #1e8dbb;
    font-size: 16px;
  }
  #villageInfo .el-input-number .el-input__inner {
    text-align: left;
  }
  #villageInfo .amap-box {
    width: 100%;
    height: 500px !important;
    position: relative;
  }
  #villageInfo .search-box {
    position: absolute;
    top: 100px;
    left: 40px;
  }
  #villageInfo .userBox {
    width: 100%;
    overflow: hidden;
  }
  #villageInfo .userBox > .userBox-content {
    width: 100px;
    height: 30px;
    text-align: center;
    margin: 10px;
    line-height: 30px;
    background: #1e8dbb;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 5px;
    cursor: pointer;
    float: left;
  }
  #villageInfo .userBox > .userBox-content:hover {
    opacity: 0.7;
  }
  /* .amap-page-container {
    position: relative;
  } */